<p id="notice"><%= notice %></p>

<div style="padding: 10%"> 
<div style="background:url(http://www.ourbloc.co/uploads/2/4/0/1/24014742/6037108_orig.jpg) no-repeat center center;"> </div>

<table style="position:absolute; left: 22%;right:22%">
  <td style="padding:1%; margin:5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" ><%= link_to image_tag("1.jpg"), root_path  %></td> 
   <td style="padding:1%; margin:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"> <%= link_to image_tag( "2.jpg"), root_path  %></td> 
  <td style="padding:1%;margin:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"> <%= link_to image_tag("3.jpg"), root_path  %></td> 

   </table>


<table style="height: 400px; width: 80%">

  <tbody >
    <% @contents.each do |content| %>
      <tr style=" border: 5px solid white;">
        <td ><%= link_to content.title, content %></td>

        <td style="width: 10%"><%= link_to 'Edit', edit_content_path(content) %></td>
        <td style="width: 10%"><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
      </tr>

    <% end %>
  </tbody>
</table>

<br>

</div>