
 <section id="background-img" class="inner-intro bg-img2 overlay-light parallax parallax-background2">
            <div class="container" >
                <div class="row title">
                    <h2 class="h2" style="font-weight:600;color:black;font-size:2.5em; margin-top:5em">BLOC</h2>
                    <div style="font:2em" class="page-breadcrumb">
                        <a href="/users.html">Search Students</a>/<a href="/mailbox/inbox.html"> Inbox</a> /<a href="/posts.html">New Applications</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="radio-format">
     <%= f.label "Student" %><span></span>
    <%= f.radio_button :role, 'student' %> <span></span>
     <%= f.label "Company" %>
    <%= f.radio_button :role, 'company', class: "toggle-signup" %>
  </div>


  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<!-- student login on radio button click-->
<div id= "student-login">
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school, class: "form-control" %>
  </div>
</div> 

<!-- student login on radio button click-->
<div id= "company-login" style= "display: none">
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company, class: "form-control" %>
  </div>
</div> 


<!-- standard login fields for all accounts !--> 
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



<%= render "devise/shared/links" %>


<p> <% link_to "Corporate Sign Up", corporatesignup_path %> </p>
