<div id="spacer"> </div>
<div id="job_background">
<p id="notice"><%= notice %></p>
<%= form_tag(posts_path, :method => "get") do %>
 <div class="search_bar_wrapper" style= "position:fixed" >
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <button style="display:none" type="submit "> Search </button>
</div>
  <% end %>
  <%= yield %>
<div id="spacer"> </div>
<div id="spacer"> </div>

<h1><%= @jobs.count %> Jobs</h1>


<table style="width: 950px; height:10%" id="table_id" class="display">
  <thead >
    <tr style="background-color: #f5f5f5">
      <th>Employer</th>
      <th>Title</th>
      <th>Deadline</th>
      <th>Description</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each   do |job| %>
   
      <tr style="background-color: white; border: 5px solid #f5f5f5">
        <td><%= job.user.company%></td>
        <td><%= link_to job.title, job %></td>
        <td><%= job.deadline  %></td>
        <td><%= job.description %></td>
        
        <% if current_user.role=="Student" %> 
        <td><button> <%= link_to 'Apply Now', job %> </button></td>

        <% elsif current_user = job.user %> 
        <td><button> <%= link_to 'All Applications', job %> </button></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>        

        <%else %>
        <%end %> 

        

        <td> <button> <%= link_to 'save', saves_path(job) %></button>
        <% end %> </td>
      </tr>
   
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Job', new_job_path %>
</div>