<table style="width: 950px; height:10%">
	
  <thead>
    <tr>
 
      <th>Title</th>
      <th>Deadline</th>
      <th>Description</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @jobs.each do |job| %>
      <tr style="height: 60px; margin:5px; border-radius: 10px;">
        <td><%= link_to job.title, job %></td>
        <td><%= job.deadline %></td>
        <td><%= job.description %></td>
        <td><button> <%= link_to 'Apply Now', job %> </button></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
      </tr>
    <% end %>
  </tbody>
</table>
