<p id="notice" class="job" ><%= notice %></p>

<div id="job_wrapper">
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @job.deadline %>
</p>

<p>
  <strong>Text:</strong>
  <%= @job.text %>
</p>

<% if current_user == @job.user %>
<%= render @job.japps %>
<% else %> 
<div id="comments">
	<!-- counter for how many have applied --> 
		<% if @job.japps.count == 0 %>
			<p>Be the first to submit your application for this position! </p>
		<% else %> 
			<p><%= @job.japps.count %> applications have been submitted, get yours in quickly!  </p>
			<% end %> 


		<h3>Submit Your Application :</h3>
		<%= render "japps/form" %>

	</div>
	<%end%>


	

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
</div> 