<div style="height:60px"> </div>

<%= form_tag(users_path, :method => "get") do %>
 <div class="search_bar_wrapper" style= "position:fixed" >
      <%= text_field_tag :search, params[:search], placeholder: "Search Network" %>
      <button style="display:none" type="submit "> Search </button>
</div>
  <% end %>
  <%= yield %>

<div  id= "spacer"> </div>
<% @users.each do |user| %>
	<% if user.role =="student" %>

		<table style="height: 10em; " class="post_wrapper">
			<td>
				<h2 class="image" style="margin:5%"><%= image_tag user.image.url(:small) %></h2>
			</td>


			<td>

			<%if user.name == current_user.name %>
				<h2 class="user"> Me </h2>
				<% else %>
					<h2 class ="user"> <%= link_to user.name, user %>
			<%end %>
			</td>

		<td>
			<p class ="user">
				<%= user.school %>
			</p>

			<p class ="user">
					<%= user.major %>
				</p>
				<p class ="user">
					<%= user.hometown %>
				</p>
		</td>

<% end %>
<% end %>
</div>