<div style="height:100px"> </div>
<% if @user.role=="student" %> 

<div class="post_wrapper" style="padding: 12%">
<table>
	<td>
	<h2>
			<% if @user.image.url == nil %>
			<div> </div>
			<% else %> 
			<div style="display: none"><%= image_tag @user.image.url(:small)%>
			</div>

			<% end %> 
	<h2 >
		</td>

	<td>
			<h2> <%= @user.name %> </h3>
			<h4> Graduation Year </h4>
				<p> <%= @user.gradyear %> </p>
			<h4> College/University </h4>
				<p><%= @user.school %></p>
			
	</td> 
</table> 
<h4> Major </h4>
<p><%= @user.major %></p>
<h4> Campus Organizations </h4>
<p><%= @user.orgs %></p>

<h4> Portfolio Links </h4>
<p><%= link_to @user.links %></p>

<h4> Three Skills I Am Learning </h4>
<p><%= @user.threeskills %></p>
	
<h4> Cities I would Like to Work In </h4>
<p><%= @user.geo %></p>

<% if current_user.role=="company" %> 
<h4> <%= link_to "View Resume" , @user.hometown %> </h4>
<h4> <%= link_to "Email" , @user.email %> </h4>
	<%end %>
</div> 

<%elsif @user.role=="company" %> 
<div id="post_wrapper" style="padding: 70px" =>
	<table>
<td>
	<h3 >
		<div style="display:none">
			<% if @user.image.url != nil %>
			<%= image_tag @user.image.url(:small)%>
			<% else %> 
			
				<% end %> 
			</div>
	
	<h3 >
		</td>

	<td>
			<h2> <%= @user.company %> </h2>
			<h4> Locations </h4>
				<p><%= @user.geo %></p>
			<h4> Mission </h4>
				<p><%= @user.mission %></p>
			
	</td> 
</table> 
<%end %> 
</div>
</div>