<div style="height:100px"> </div>
<% if @user.role=="student" %> 

<div class="post_wrapper" style="padding: 70px">
<table>
	<td>
	<h2 >
			<%= image_tag @user.image.url(:small)%>
		</p>
	<h2 >
		</td>

	<td>
			<h2> <%= @user.name %> </h3>
			<h3> Graduation Year </h3>
				<p> <%= @user.gradyear %> </p>
			<h3> College/University </h3>
				<p><%= @user.school %></p>
			
	</td> 
</table> 
<h3> Major </h3>
<p><%= @user.major %></p>
g
<h3> Organizations </h3>
<p><%= @user.orgs %></p>

<h3> Portfolio Links </h3>
<p><%= @user.links %></p>

<h3> Three Skills I Am Learning </h3>
<p><%= @user.threeskills %></p>
	
<h3> Cities I would Like to Work In </h3>
<p><%= @user.geo %></p>


<h3> <%= link_to "Download Resume" , @user.resume.url %> </h3>
	
</div> 

<%elsif @user.role=="company" %> 
<td>
	<h2 >
			<%= image_tag @user.image.url(:small)%>
		</p>
	<h2 >
		</td>

	<td>
			<h3> <%= @user.company %> </h3>
			<h3> Locations </h3>
				<p><%= @user.geo %></p>
			
	</td> 
</table> 
<%end %> 
</div>