<div >


<h2 >
		<%= @user.name %>
	</p>

<p>
		<%= @user.gradyear %>
	</p>

<p>
	<%= @user.school %>
</p>

<p>
	<%= @user.major %>
	</p>

<p>
	<%= @user.orgs %>
	</p>

<p>
	<%= @user.links %>
		</p>
	</p>

<p>
	<%= @user.threeskills %>
		</p>
	</p> 

<p>
	<%= @user.geo %>
		</p>
	</p>
<p>
	<%= @user.hometown %>
		</p>
	</p>
</div> 
