<div style="height: 100px"> </div>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
			<% @videos.each do |video| %>			
					<%= link_to video.title, video, :class => 'collection-item' %>			
			<% end %>			
    </div>
	</div>
	<iframe class="col m6" src="//www.youtube.com/embed/<%= @video.wistia %>"></iframe>  
	<div class="col m6">
		<div class="card grey" style"position: absolute; width:50%">
      <div class="card-image">
        <div id="wistia_<%= @video.wistia %>" ></div>  
      </div>
      
      <div class="card-content white-text">
        
        <span class="card-title"><%= @video.title %></span>
        <p><%= @video.description %></p>
      </div>
      <div class="card-action">
        <%= link_to "Previous", @prev_video if !@prev_video.nil? %>
        <span class="right">
          <%= link_to "Next", @next_video if !@next_video.nil? %>
        </span>	
      </div>
    </div>
	</div>
</div>	


