 <div style="height: 5px; background: #f5f5f5"> </div>
 <div id="background-img" class=" overlay-light" >
            <div class="container" style="margin: auto">
                <div class="row title" style="margin: auto" >
                    <h2 class="h2" style="font-weight:600;color:black;font-size:2.5em; margin-top:5em"></h2>
      
  <div style="margin:auto; position: relative; top:-100px;  padding-left: 35%">         
  <h2 style="color:white">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login_form") do |f| %>
    <div class="field">
      <%= f.label "EMAIL" %> <br>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label "PASSWORD" %> <br>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <div style="color: white"></div>
     <%= render "devise/shared/links" %> 
     </div> 
            </div>
          </div>
        </div>
