

       <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
          
          
      <script>
       $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
             $('#background-img').openModal();
    });
      
      </script>

       
      <h2 > Log in </h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login_form") do |f| %>
<div id="background-img" class="modal">    
  <div class="modal-content">
                <div class="field">
                <%= f.label "EMAIL" %> <br>
                <%= f.email_field :email, autofocus: true %>
                </div>
          
                <div class="field">
                <%= f.label "PASSWORD" %> <br>
                <%= f.password_field :password, autocomplete: "off" %>
                </div>
          
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  </div>
              <% end %>
          
              <div class="actions">
              <%= f.submit "Log in" %>
              </div>
      <% end %>
          <div style="color: white"></div>
          <%= render "devise/shared/links" %> 
          </div> 
             </div>
          </div>
            </div>
         
      
