<%=  form_for([@job, @job.japps.build], html: { multipart: true }) do |f| %>
 

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :resume %><br>
    <%= f.text_area :resume %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.text_area :cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <div class="actions">
  </div>
<% end %>
