<p id="notice"><%= notice %></p>

<p>
  <strong>Personal Statement:</strong>
  <%= @japp.user.name %>
</p>
<p>
  <strong>Personal Statement:</strong>
  <%= @japp.statement %>
</p>

<p>
  <strong>Your Resume:</strong>
  <%= @japp.resume %>
</p>

<p>
  <strong>Cover Letter:</strong>
  <%= @japp.cover %>
</p>

<%= link_to 'Edit', edit_japp_path(@japp) %> |
<%= link_to 'Back', japps_path %>
