

<% @posts.each do |post| %>
	<div class="post_wrapper">
		<%if post.user.name == current_user.name %>
			<h2 class="user"> Me </h2>
			<% else %>
				<h2 class ="user"><%= link_to post.user.name , post.user %>
		<%end %>
		<table style= "width: 800px; margin: 0px;" > 
		<td style="width: 100px"> 
			<div class="image"><%= image_tag post.user.image.url(:small) %></div>
		</td>

		<td style="width: 90%">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<h2 class="body"><%= linkify_hashtags(post.body) %></h2>
		</td> 
		<td style="width: 10em; height: 10em">
		<h2 class="image"><%= image_tag post.image.url(:medium) %></h2>
		</td>
		<p class="data"><%= post.created_at.strftime("%B, %d, %Y") %></p>

	</table>

	
	</div>

<% end %>


