 

 <%= form_tag(posts_path, :method => "get") do %>
 <div class="input-append" style="width: 75%">
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <button class="btn" type="submit ">Search </button>
    </div>
  <% end %>
  <%= yield %>

<% @posts.each do |post| %>
	<div class="post_wrapper">
		<%if post.user.name == current_user.name %>
			<h2 class="user"> Me </h2>
			<% else %>
				<h2 class ="user"><%= link_to post.user.name , post.user %>
		<%end %>
		<table id="table_id" style= "width: 800px; margin: 0px;" > 
		<td style="width: 100px"> 
			<div class="image"><%= link_to (image_tag post.user.image.url(:small)),post.user %></div>
		</td>

		<td style="width: 90%">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<h2 class="body"><%= linkify_hashtags(post.body) %></h2>
		</td> 
		<td style="width: 10em; height: 10em">
		<h2 class="image"><%= link_to (image_tag post.image.url(:medium)),post %></h2>
		</td>
		<p class="data"><%= post.created_at.strftime("%B, %d, %Y") %></p>
		<button> <%= link_to 'like', likes_path(post) %></button>
	</table>

	
	</div>

<% end %>


