 <div style="background-color: #F5F5F5; height: 55px; left:-10% "> </div> 

 <%= form_tag(posts_path, :method => "get") do %>
 <div class="post_wrapper"  >
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <% link_to 'New Post', new_post_path %>
</div>
  <% end %>
  <%= yield %>


<div id="spacer"> </div>

<% @posts.each do |post| %>
	<div class="post_wrapper">
		<%if post.user.name == current_user.name %>
			<h2 class="user"> Me </h2>
			<% else %>
				<h2 class ="user"><%= link_to post.user.name , post.user %>
		<%end %>
		<table id="table_id" > 
		<td style="width: 10%"> 
		</td>

		<td style="width: 50% !important">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<h2 class="body"><%= linkify_hashtags(post.body) %></h2>
		</td> 
		<td style="width: 10%; height: 10em">
		<h2 class="image"><%= link_to (image_tag post.image.url(:medium)),post %></h2>
		
		<% if post.liked = false %> 
		<button id="post_like"> Like </button>
		<% else %> 
		<button id="post_like"> Unlike </button>
		<% end %> 
	

		<p class="data"><%= post.created_at.strftime("%B, %d, %Y") %></p>
	</table>
	</div>

	
</script>
<% end %>


