<% @jobs.each do |job| %>
<div id="jobs"> 
      <tr id="job_row">
        <td><%= job.title %></td>
        <td><%= job.deadline %></td>
        <td><%= job.text %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
 </div>