<!DOCTYPE html>
<html>
<head>
  <title>BLOC </title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Actor:400,700' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:400,700' %>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

  <%= favicon_link_tag 'favicon.ico' %>

 
          
  <%= csrf_meta_tags %>

	<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  	<script type="text/javascript"  src="//code.jquery.com/avgrund.min.js"></script>

	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>	
</head>


<body>
   






        

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>

	<div id="sidebar">
		<div "side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
		<ul>
			<li><%= link_to "Bloc", root_path %></li>
			<li><%= link_to "Resources", contents_path %></li>
		</ul>


		<ul>
			<li><a href="https://ourbloc.co">Our Bloc</a></li>
			<li><a href="mailto:kope@ourbloc.co">Email</a></li>
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% end %>
		</ul>
		<% if !user_signed_in? %>
			<p class="sign_in">Admin Login</p>
		<% end %>
	</div>
</div>

<div id="sidebar" style="float:left">
	<div id="spacer"> </div>
		<div id="spacer"> </div>

		<div "side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
		<ul>
			<li><%= link_to "Bloc", root_path %></li>
			<li><%= link_to "Resources ", contents_path %></li>
			<li><%= link_to "Edit Profile ", edit_user_registration_path %></li>
			<li><a href="mailto:info@ourbloc.co">Contact US</a></li>
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% end %>
		</ul>
		<% if !user_signed_in? %>
			<p class="sign_in">Admin Login</p>
		<% end %>
	</div>
</div>

<div style="position:absolute; top:0%" class="right-bar"> 
	
		<li> <%= link_to "#Plan", hashtag_path("plan") %> </li>
		<li> <%= link_to "#Prep", hashtag_path("prep") %> </li>
		<li> <%= link_to "#Apply", hashtag_path("apply") %> </li>
		

</div>



	<div id="main_content">
		
		<!-- nav bar --> 
		<div class="navbar navbar-fixed-top" id="header" style="height: 8%;border-bottom: 5px solid #f5f5f5">
			<!-- responsive nav bar -->
			<div class="container">
			<div class="nav-collapse collapse navbard-responsive-collapse">
			</div> <!-- end nav collapse-->


			<div><%= link_to image_tag('bloclogovert.jpg') , root_path %></p> 


		<% if user_signed_in? %>
			
	     
	       
			<div class="topbutton" id="hide" style="float:right; text-transform:uppercase"><%= link_to image_tag("winning-project.png"), users_path %></div>
			

			<%if current_user.role=="student" %>
			<div  id="hide" style=" float:right; text-transform:uppercase"><%= link_to image_tag("edit-pencil.png"), new_post_path %></div>
			<div class="topbutton" style="float:right; text-transform:uppercase"><%= link_to "All Posts", posts_path %></div> 

		
			<div class="topbutton" id="hide" style=" float:right; text-transform:uppercase"><%= link_to "Resources", contents_path %></div>
			<%end %>

			<% if current_user.role=="company" %> 
			<div  class="topbutton" style="float:right; text-transform:uppercase"><%= link_to "New Job", new_job_path %></div> 
			<div  class="topbutton" style="float:right; text-transform:uppercase"><%= link_to "My Jobs", myjobs_path %></div> 
				<%end %> 

			<div  class="topbutton" style="float:right; text-transform:uppercase"><%= link_to "All Jobs", jobs_path %></div> 


			



			<div  class="topbutton" id="hide" style="float:right; text-transform:uppercase"><%= link_to "Inbox", mailbox_inbox_path %></div>
	        	<!-- unread msg counter -->
	        	<span class="label label-danger pull-right"><%=unread_messages_count%></span>
	    	</div>
				<% else %>
					<div class="buttons">
	            		<button class="active"><%= link_to "Login", new_user_session_path %></button>
	            		<button><%= link_to "Sign up", new_user_registration_path %></button>
					</div>
				<% end %>
			</div>
		</div>





		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>



        <div id= "footer"> </div>

</body>
</html>

