<!DOCTYPE html>
<html>
<head>
  <title>BLOC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/nav' %>
</head>
<body>
	<div id="sidebar">
		<ul>
			<li class="category">Websites</li>
			<li><%= link_to "Bloc", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="https://ourbloc.co">Our Bloc</a></li>
			<li><a href="mailto:kope@ourbloc.co">Email</a></li>
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% end %>
		</ul>
		<% if !user_signed_in? %>
			<p class="sign_in">Admin Login</p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
        <h4><p style="font-size: 24px"><%= link_to "All Posts", root_path %></p>
			<% if user_signed_in? %>
        <button class="button" style="float: right"><%= link_to "New Post", new_post_path %></button>
        <button class="button" style="float: right"><%= link_to "Inbox", mailbox_inbox_path %></button>
    </h4>
			<% else %>
				<div class="buttons">
            		<button class="active"><%= link_to "Login", new_user_session_path %></button>
            		<button><%= link_to "Sign up", new_user_registration_path %></button>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>

